* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e8;
    color: #3e4639;
    min-height: 100vh;
}


/* ==============================
   BOTÃO DO MENU
   ============================== */

.botao-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 12px;
    background-color: #dce5d2;
    color: #3e4639;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


/* ==============================
   MENU LATERAL
   ============================== */

.menu-lateral {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    background-color: #faf8f1;
    padding: 25px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.menu-lateral.aberto {
    left: 0;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cabecalho-menu h2 {
    font-size: 22px;
    color: #354333;
}

.fechar-menu {
    border: none;
    background: transparent;
    font-size: 28px;
    color: #667260;
    cursor: pointer;
}


/* ==============================
   BOTÃO NOVA TAREFA
   ============================== */

.nova-tarefa {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 12px;
    background-color: #8fa889;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}


/* ==============================
   BOTÃO FILTRAR / ORDENAR
   ============================== */

.botao-ordenar {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 12px;
    background-color: #dce5d2;
    color: #3e4639;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.botao-ordenar:hover {
    background-color: #cfdac4;
}


/* ==============================
   LISTA DE TAREFAS
   ============================== */

.lista-Tarefas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    min-height: 0;
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    padding-right: 5px;
    padding-bottom: 120px;
}

.lista-Tarefas::-webkit-scrollbar {
    width: 6px;
}

.lista-Tarefas::-webkit-scrollbar-thumb {
    background-color: #b8c4ae;
    border-radius: 10px;
}

.lista-Tarefas::-webkit-scrollbar-track {
    background-color: transparent;
}


/* ==============================
   CARDS
   ============================== */

.card-Tarefa {
    background-color: #f1eee4;
    padding: 15px;
    border-radius: 14px;
    border: 1px solid #e1ddcf;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: 0.2s;
}

.card-Tarefa h3 {
    font-size: 16px;
    margin-bottom: 7px;
    color: #394635;
}

.card-Tarefa p {
    font-size: 13px;
    color: #777c70;
    margin-bottom: 12px;
}

.card-Tarefa p:last-child {
    margin-bottom: 0;
}

.card-Tarefa .prazo,
.card-Tarefa .prioridade {
    font-size: 12px;
    color: #858a7e;
}

.card-Tarefa .prioridade {
    font-weight: bold;
}

.card-Tarefa .excluir {
    margin-top: 8px;
    border: none;
    background: transparent;
    color: #a66a6a;
    cursor: pointer;
    font-size: 12px;
}

.excluir {
    border: none;
    background: transparent;
    color: #a66a6a;
    cursor: pointer;
    font-size: 12px;
}




.opcoes-menu {
    margin-top: 15px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #faf8f1;
}

.opcoes-menu button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #596153;
    text-align: left;
    cursor: pointer;
}

.opcoes-menu button:hover {
    background-color: #ece9df;
}


/* ==============================
   ÁREA PRINCIPAL
   ============================== */

.conteudo {
    padding: 75px 30px;
    margin-left: 320px;
    transition: 0.3s;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.mensagem-inicial.escondido {
    display: none;
}

.conteudo.escondido {
    display: none;
}

.conteudo h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #354333;
}

.conteudo p {
    color: #777c70;
}


/* ==============================
   FORMULÁRIO
   ============================== */

.formulario-tarefa {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario-tarefa h3 {
    margin-bottom: 10px;
}

.formulario-tarefa input,
.formulario-tarefa textarea,
.formulario-tarefa select {
    padding: 10px;
    border: 1px solid #ddd8ca;
    border-radius: 9px;
    background-color: #f5f1e8;
    color: #3e4639;
}

.criar-tarefa {
    width: 100%;
    margin-top: 15px;
    padding: 14px 20px;
    border: none;
    border-radius: 12px;
    background-color: #8fa889;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
}

.criar-tarefa:hover {
    background-color: #71876b;
    transform: translateY(-2px);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.12);
}

.criar-tarefa:active {
    transform: translateY(0);
}

#cancelar-tarefa {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #777c70;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

#cancelar-tarefa:hover {
    background-color: #ece9df;
    color: #4f584b;
}


/* ==============================
   ÁREA DO FORMULÁRIO
   ============================== */

.area-formulario {
    position: fixed;
    top: 0;
    left: 320px;
    width: 400px;
    height: 100vh;
    background-color: #faf8f1;
    padding: 30px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.08);
    display: none;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #cccccc #f5f5f5;
}

.area-formulario.aberto {
    display: block;
}

.area-formulario::-webkit-scrollbar {
    width: 8px;
}

.area-formulario::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.area-formulario::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

.area-formulario::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}


/* ==============================
   CARD DE DETALHES
   ============================== */

.detalhes-tarefa {
    display: none;
    width: 450px;
    min-height: 400px;
    padding: 25px;
    margin-top: 20px;
    background-color: #faf8f1;
    border: 1px solid #e1ddcf;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    color: #3e4639;

    flex-shrink: 0;
}

.detalhes-tarefa.aberto {
    display: block;
}

.detalhes-conteudo h2 {
    font-size: 24px;
    color: #354333;
    margin-bottom: 20px;
}

.detalhes-conteudo p {
    color: #777c70;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.detalhes-conteudo h3 {
    font-size: 17px;
    color: #394635;
    margin-top: 25px;
    margin-bottom: 10px;
}

.cabecalho-detalhes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cabecalho-detalhes h2 {
    margin: 0;
}

.porcentagem {
    flex-shrink: 0;
    font-size: 18px;
    font-weight: bold;
    color: #71876b;
}



/* ==============================
   PASSOS
   ============================== */

.lista-passos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.passo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 11px 12px;
    background-color: #f1eee4;
    border: 1px solid #e1ddcf;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.passo:hover {
    background-color: #ece9df;
}

.passo input {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;
}

.passo span {
    color: #596153;
    font-size: 14px;
    line-height: 1.4;
    transition: 0.2s;
}

.passo input:checked + span {
    text-decoration: line-through;
    color: #9a9d94;
}


/* ==============================
   BOTÃO CONCLUIR
   ============================== */

.botao-concluir {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #d6d6d2;
    color: #8a8a84;
    font-size: 14px;
    font-weight: bold;
    cursor: not-allowed;
    transition: 0.2s;
}

.botao-concluir.liberado {
    background-color: #8fa889;
    color: white;
    cursor: pointer;
}

.botao-concluir.liberado:hover {
    background-color: #71876b;
}


/* ==============================
   PAINEL DE FILTRO
   ============================== */

.painel-ordenar {
    display: none;
    width: 220px;
    min-width: 220px;
    margin-top: 20px;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;

    flex-shrink: 0;
}

.painel-ordenar.aberto {
    display: flex;
}


/* BOTÕES DO FILTRO */

.painel-ordenar button {
    width: 100%;
    padding: 9px 12px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #333;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
}

.painel-ordenar button:hover {
    background-color: #d5d5d5;
}


/* TÍTULOS DO FILTRO */

.titulo-filtro {
    padding: 8px 12px 4px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
}


/* ==============================
   MODO ESCURO
   ============================== */

body.modo-escuro {
    background-color: #1a1a1a;
    color: #f1f1f1;
}

body.modo-escuro .botao-menu {
    background-color: #2b2b2b;
    color: #f1f1f1;
}

body.modo-escuro .menu-lateral {
    background-color: #222222;
    color: #f1f1f1;
}

body.modo-escuro .menu-lateral h2,
body.modo-escuro .menu-lateral h3 {
    color: #f1f1f1;
}

body.modo-escuro .opcoes-menu {
    background-color: #222222;
    color: #f1f1f1;
}

body.modo-escuro .botao-concluidas,
body.modo-escuro .botao-modo-escuro,
body.modo-escuro .botao-excluir-tudo{
    background-color: #333333;
    color: #f1f1f1;
}

body.modo-escuro .opcoes-menu button:hover {
    background-color: #3b3b3b;
}


body.modo-escuro .nova-tarefa {
    background-color: #333333;
    color: #f1f1f1;
}

body.modo-escuro .nova-tarefa :hover{
    background-color: #3d3d3d;
}

body.modo-escuro .botao-ordenar {
    background-color: #333333;
    color: #f1f1f1;
}

body.modo-escuro .botao-ordenar:hover {
    background-color: #3d3d3d;
}


/* CARDS NO MODO ESCURO */

body.modo-escuro .card-Tarefa {
    background-color: #2b2b2b;
    color: #f1f1f1;
}

body.modo-escuro .card-Tarefa h3 {
    color: #f1f1f1;
}

body.modo-escuro .card-Tarefa p {
    color: #d6d6d6;
}

body.modo-escuro .card-Tarefa .excluir {
    color: #ff8a8a;
}


/* DETALHES NO MODO ESCURO */

body.modo-escuro .detalhes-tarefa {
    background-color: #222222;
    color: #f1f1f1;
}

body.modo-escuro .cabecalho-detalhes h2 {
    color: #f1f1f1;
}

body.modo-escuro .cabecalho-detalhes .porcentagem {
    color: #f1f1f1;
}

body.modo-escuro .detalhes-conteudo h3 {
    color: #f1f1f1;
}

body.modo-escuro .detalhes-conteudo p {
    color: #f1f1f1;
}


/* PASSOS NO MODO ESCURO */

body.modo-escuro .passo {
    background-color: #333333;
    color: #f1f1f1;
}

body.modo-escuro .passo span {
    color: #f1f1f1;
}


/* FORMULÁRIO NO MODO ESCURO */

body.modo-escuro .area-formulario {
    background-color: #222222;
    color: #f1f1f1;

    scrollbar-color: #555555 #222222;
}

body.modo-escuro .formulario-tarefa {
    background-color: #222222;
    color: #f1f1f1;
}

body.modo-escuro .formulario-tarefa label {
    color: #f1f1f1;
}

body.modo-escuro .formulario-tarefa input,
body.modo-escuro .formulario-tarefa textarea,
body.modo-escuro .formulario-tarefa select {
    background-color: #333333;
    color: #f1f1f1;
    border-color: #555555;
}

body.modo-escuro .formulario-tarefa input::placeholder,
body.modo-escuro .formulario-tarefa textarea::placeholder {
    color: #aaaaaa;
}

body.modo-escuro .formulario-tarefa button {
    color: #f1f1f1;
}


/* SCROLLBAR DO FORMULÁRIO - MODO ESCURO */

body.modo-escuro .area-formulario::-webkit-scrollbar {
    width: 8px;
}

body.modo-escuro .area-formulario::-webkit-scrollbar-track {
    background-color: #222222;
}

body.modo-escuro .area-formulario::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}

body.modo-escuro .area-formulario::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}


/* PAINEL DE FILTRO - MODO ESCURO */

body.modo-escuro .painel-ordenar {
    background-color: #1d1d1d;
}

body.modo-escuro .painel-ordenar button {
    color: #eeeeee;
}

body.modo-escuro .painel-ordenar button:hover {
    background-color: #2d2d2d;
}

body.modo-escuro .titulo-filtro {
    color: #999999;
}

/* ==============================
   PAINEL DE FILTRO / RESUMO
   ============================== */

.painel-ordenar {
    display: none;

    width: 450px;
    min-width: 450px;

    margin-top: 20px;
    padding: 25px;

    background-color: #faf8f1;

    border: 1px solid #e1ddcf;
    border-radius: 16px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    flex-direction: column;
    gap: 5px;

    flex-shrink: 0;
}

.painel-ordenar.aberto {
    display: flex;
}


/* ==============================
   TÍTULOS
   ============================== */

.titulo-filtro {
    padding: 5px 0 7px;

    font-size: 11px;
    font-weight: 700;

    text-transform: uppercase;

    color: #777c70;
}


/* ==============================
   BOTÕES DO FILTRO
   ============================== */

.painel-ordenar button {
    width: 100%;

    padding: 9px 10px;

    border: none;
    border-radius: 8px;

    background-color: transparent;

    color: #596153;

    font-size: 13px;

    text-align: left;

    cursor: pointer;

    transition: 0.2s;
}

.painel-ordenar button:hover {
    background-color: #ece9df;
}


/* ==============================
   CATEGORIAS
   ============================== */

.botao-categoria {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.quantidade-filtro {
    color: #8b9185;

    font-size: 12px;

    min-width: 20px;

    text-align: right;
}


/* ==============================
   DIVISÓRIA
   ============================== */

.divisoria-filtro {
    width: 100%;

    height: 1px;

    background-color: #e1ddcf;

    margin: 15px 0 10px;
}


/* ==============================
   RESUMO
   ============================== */

.resumo-filtro {
    display: flex;

    flex-direction: column;

    gap: 10px;

    padding-top: 2px;
}


.linha-resumo {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 3px 0;

    font-size: 13px;

    color: #777c70;
}


.linha-resumo strong {
    color: #3e4639;

    font-size: 14px;

    font-weight: 600;
}


/* ==============================
   CATEGORIA SELECIONADA
   ============================== */

.categoria-selecionada {
    margin-bottom: 5px;

    color: #71876b;

    font-size: 14px;

    font-weight: bold;
}


/* ==============================
   MODO ESCURO
   ============================== */

body.modo-escuro .painel-ordenar {
    background-color: #222222;

    border-color: #333333;

    color: #f1f1f1;
}


body.modo-escuro .titulo-filtro {
    color: #999999;
}


body.modo-escuro .painel-ordenar button {
    color: #eeeeee;
}


body.modo-escuro .painel-ordenar button:hover {
    background-color: #2d2d2d;
}


body.modo-escuro .quantidade-filtro {
    color: #999999;
}


body.modo-escuro .divisoria-filtro {
    background-color: #333333;
}


body.modo-escuro .linha-resumo {
    color: #aaaaaa;
}


body.modo-escuro .linha-resumo strong {
    color: #f1f1f1;
}


body.modo-escuro .categoria-selecionada {
    color: #a5b89f;
}

/* ==============================
   CABEÇALHO DO CARD DE DETALHES
   ============================== */


.cabecalho-painel {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 10px;

    margin-bottom: 15px;
}

.titulo-painel {
    color: #354333;

    font-size: 18px;

    font-weight: 600;

    white-space: nowrap;
}

body.modo-escuro .titulo-painel {
    color: #f1f1f1;
}

body.modo-escuro .mensagem-inicial h1, body.modo-escuro .mensagem-inicial p{
    color: #f1f1f1;
}
